.top-heading {
  font-size: 5vmin;
  font-weight: 300;
}

.essential-padding {
  padding: 15px 30px 15px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: 300;
  font-size: 4vmin;
}

.company-logo {
  border-right: none;
}

.disclaimer-footer {
  font-weight: 100;
  font-size: 1.5vmin;
}

.datetime-text {
  font-weight: 300;
  font-size: 2vmin;
  white-space: nowrap;
}
