<div class="container-fluid">
  <div class="row" style="height: 6vh">
    <div class="col-3 align-center no-padding">
        <img src="../assets/images/logo.png" class="img-fluid"
             style="max-height: 6vh" alt="Drift Exchange">
    </div>
    <div class="col-6 align-center datetime-text">
      {{clock | async}}
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" style="height: 6vh">
    <div class="col-12 top-heading align-center">
      <div>Foreign Exchange Rates</div>
    </div>
  </div>
  <rate-table></rate-table>
  <div class="row card-footer fixed-bottom" style="height: 8vh">
    <div class="col-12 footer-text align-center">
      <div>No Fees and No Commission</div>
    </div>
    <div class="col-12 disclaimer-footer align-center">
      <div>All rates are subject to change without notice</div>
    </div>
  </div>
</div>
