.flag-icon {
  line-height: 1.5em;
  width: 1.999999999em;
}

.content-text {
  font-weight: 600;
  font-size: 3vmin;
}

.content-div {
  border-bottom: none;
  overflow-y: hidden;
}

span {
  padding-left: 6px;
  padding-right: 6px;
}

td {
  padding: 0;
  vertical-align: middle;
}

.thead-inverse th {
  background-color: #464a4c;
}

.heading-text {
  font-weight: 300;
  font-size: 3vmin;
  text-wrap: none;
}

.rates-text {
  font-size: 4vmin;
}
