<div class="row content-div">
  <table class="table table-bordered table-striped text-center" style="margin: 0; min-height: 80vh">
    <thead class="thead-inverse" style="vertical-align: middle">
    <tr>
      <th class="text-center heading-text" style="width: 50vw">Currency</th>
      <th class="text-center heading-text">We buy at</th>
      <th class="text-center heading-text">We sell at</th>
    </tr>
    </thead>
    <tbody class="content">
    <tr *ngFor="let currency of results | async | slice:0:12">
      <td>
        <div style="display: flex; padding-left: 2vw;">
          <span class="flag-icon flag-icon-{{ currency.quoteCcy.code.slice(0,2) | lowercase }}"></span>
          <span class="content-text">&nbsp; {{ currency.quoteCcy.code }} - {{ currency.quoteCcy.name }}</span>
        </div>
      </td>
      <td class="rates-text">{{ currency.buyRate | number: '1.4-4' }}</td>
      <td class="rates-text">{{ currency.sellRate | number: '1.4-4' }}</td>
    </tr>
    </tbody>
  </table>
</div>
