.flag-icon {
  line-height: 2em;
  width: 2.66666666667em;
}

.content {
  font-weight: 600;
  font-size: 4vmin;
  white-space: nowrap;
}

.content-div {
  border-bottom: none;
  overflow-y: hidden;
}

span {
  padding-left: 6px;
  padding-right: 6px;
}

td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.thead-inverse th {
  background-color: #464a4c;
}

.heading-text {
  font-weight: 300;
  font-size: 3vmin;
  text-wrap: none;
}

.rates-text {
  /*font-size: 4vmin;*/
}

.content-text {
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
